.container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:1px;
    margin:0 auto;
    justify-content: center;
}

table{
    border: 5px solid black;
    max-width: 150px;
    max-height: 150px;
}
input, td{
    height:40px;
    width: 40px;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
}
 /* Style the number input's spinner buttons */
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }
 input:hover, td:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

h1{
    text-align: center;
    font-size: 16px;
}

.button-div{
    width:100%;
    padding:0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 450px;
    margin: 0 auto;
    gap:1rem;

}
button{
    /* margin:0 auto; */
    margin: 0 auto;
    padding:4px;
    width:50%;
}

#button-check{
    background-color: rgb(130, 130, 252);
}
#button-reset{
    background-color: rgb(205, 252, 130);


}